.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### 로컬 설정·비밀값 ###
*.pem
.env
